body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #000000;
}
h1 {
    color: #3b015c;
}
h2 {
    color: #480072;
}
h3 {
    color: #8103ca;
}
.tabla-bordes {
    border: 2px solid #000;
    border-collapse: separate;
}

.tabla-bordes th, .tabla-bordes td {
    border: 1px solid #333;
    padding: 8px;
}

.tabla-colores {
    background-color: #f0f0f0;
    border: 1px solid #888;
}

.tabla-colores th {
    background-color: #aece47;
}

.tabla-colores td {
    background-color: #bbf3fa;
    padding: 10px;
}
.next-page {
  display: inline-block;
  padding: 5px 12px;
  background-color: #b23de9;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease; /* suave transición */
}

.next-page:hover {
  background-color: #9220c9;
  transform: scale(1.02);
}
footer {
    color: #8602a7;
}